@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.button {
  display: inline-block;
  background: #ff523b;
  color: #fff;
  text-decoration: none;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  -webkit-transition: background .5s ease-in-out;
  transition: background .5s ease-in-out;
}

.button:hover {
  background-color: #563434;
}

.title {
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: #555;
}

.title::after {
  content: '';
  background: #ff523b;
  width: 80px;
  height: 5px;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
  border-radius: 5px;
}

.header {
  background: radial-gradient(#fff, #ffd6d6);
}

.container {
  max-width: 1300px;
  margin: auto;
  padding: 0 15px;
}

.navbar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 20px;
}

.navbar .logo {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

.navbar nav {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  text-align: right;
}

.navbar nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar nav ul li {
  list-style: none;
  margin-right: 20px;
}

.navbar nav ul li a {
  text-decoration: none;
  color: #555;
}

.navbar img {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.workOut {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 70px;
}

.workOut__item {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  min-width: 300px;
}

.workOut__item h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}

.workOut__item img {
  width: 100%;
  max-width: 100%;
  padding: 50px 0;
}

.small-container {
  max-width: 1080px;
  margin: auto;
  padding: 0 25px;
}

.cartegories {
  margin: 70px 0;
}

.cartegories .listItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.cartegories .listItem .item {
  -ms-flex-preferred-size: 31%;
      flex-basis: 31%;
  min-width: 250px;
  margin-bottom: 30px;
}

.cartegories .listItem .item img {
  width: 100%;
}

.product {
  width: 100%;
}

.product__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.product__item {
  -ms-flex-preferred-size: 24%;
      flex-basis: 24%;
  margin: 10px;
  -webkit-transform: translateY(0) translateZ(0);
          transform: translateY(0) translateZ(0);
  cursor: pointer;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  text-align: center;
}

.product__item img {
  width: 100%;
}

.product__item h4 {
  color: #555;
  font-weight: normal;
}

.product__item p {
  font-size: 14px;
}

.product__item .rating i {
  color: #ff523b;
}

.product__item:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.latestProduct .list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.latestProduct .item {
  -ms-flex-preferred-size: 23%;
      flex-basis: 23%;
  margin: 10px;
  -webkit-transform: translateY(0) translateZ(0);
          transform: translateY(0) translateZ(0);
  cursor: pointer;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  text-align: center;
}

.latestProduct .item img {
  width: 100%;
}

.latestProduct .item h4 {
  color: #555;
  font-weight: normal;
}

.latestProduct .item p {
  font-size: 14px;
}

.latestProduct .item:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.rating i {
  color: #ff523b;
}

.offer {
  width: 100%;
  background: radial-gradient(#fff, #ffd6d6);
  margin-top: 80px;
  padding: 50px 0;
}

.offer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.offer__item {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.offer__item img {
  width: 100%;
  padding: 50px;
}

.offer__item small {
  color: #555;
}

.offer__item:nth-child(2) {
  padding-top: 60px;
}

.offer__item a {
  text-decoration: none;
}

.offer__item a:hover {
  color: #fff;
}

.testimonial {
  padding-top: 100px;
}

.testimonial__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.testimonial__item {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  text-align: center;
  padding: 40px 20px;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  margin: 10px 15px;
  cursor: pointer;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.testimonial__item:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.testimonial__item i.quote {
  color: #ff523b;
  font-size: 30px;
}

.testimonial__item p {
  font-size: 12px;
  margin: 12px 0;
  color: #777;
}

.testimonial__item h3 {
  font-weight: 600;
  color: #555;
  font-size: 16px;
}

.testimonial__item img {
  width: 50%;
  margin-top: 20px;
  border-radius: 50%;
}

.brands {
  margin: 100px auto;
}

.brands__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.brands__item {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  margin: 5px 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.brands__item img {
  width: 80%;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  cursor: pointer;
  -webkit-transition: -webkit-filter .3s;
  transition: -webkit-filter .3s;
  transition: filter .3s;
  transition: filter .3s, -webkit-filter .3s;
}

.brands__item img:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}
/*# sourceMappingURL=style.css.map */